name: Image Builder CI

on:
  push:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      # if: ${{ github.ref != 'refs/heads/main' }}
    # - name: Build the image builder
    #   run: docker build .
    
      if: ${{ github.ref == 'refs/heads/main' }}
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.PACKAGE_UPLOAD_TOKEN }}

      # if: github.ref == 'refs/heads/main'
    # - name: Extract metadata (tags, labels) for Docker
    #   id: meta
    #   uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
    #   with:
    #     images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      if: ${{ github.ref == 'refs/heads/main' }}
    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: "latest"
