name: Image Builder Deploy CI

on:
  push:
    tags:
      - '*'
    branches:
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # - name: Log in to the Container registry
    #   uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
    #   with:
    #     registry: ${{ env.REGISTRY }}
    #     username: ${{ github.actor }}
    #     password: ${{ secrets.PACKAGE_UPLOAD_TOKEN }}

    # if this is a main branch push, use the 'latest' tag
      if: github.ref == 'refs/heads/main'
    - name: Build and push image builder
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest"
        github-token: ${{ secrets.PACKAGE_UPLOAD_TOKEN }}

    # if this is a tag generated build, so use the provided tag
      if: startsWith(github.ref, 'refs/tags/v')
    - name: Build and push image builder
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref }}"
        github-token: ${{ secrets.PACKAGE_UPLOAD_TOKEN }}
